<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Передать показания</title>
</head>
<body>
    <div>
        <form name="counter_values">
            <fieldset>
                <legend>Показания счётчиков</legend>
                <label for="apartment">Квартира:</label>
                <input type="text" name="apartment">
                <fieldset>
                    <legend>Вода</legend>
                    <label for="water">Показания счётчика</label>
                    <input type="number" name="water">
                </fieldset>
                <fieldset>
                    <legend>Электричество</legend>
                    <label for="electricity_day">Показания дневного счётчика</label>
                    <input type="number" name="electricity_day">
                    <label for="electricity_night">Показания ночного счётчика</label>
                    <input type="number" name="electricity_night">
                </fieldset>
                <fieldset>
                    <legend>Газ</legend>
                    <label for="gas">Показания счётчика</label>
                    <input type="number" name="gas">
                </fieldset>
            </fieldset>
        </form>
    </div>
</body>
</html>